.app{
    background-color:rgb(236, 236, 236);
}

.navBar {
    
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    /* Öğeleri yatay olarak boşluk bırakarak yerleştirir */
    align-items: center;
    /* Öğeleri dikeyde ortalar */
    background-color: white;
    padding: 0.8%;
    width: 100%;
}

.headerLogo {
    cursor: pointer;
}

.queryButton,
.addButton {
    background-color: rgb(71, 71, 71);
    color: aliceblue;
    border-radius: 15%;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}


.headerLogo{
    border-radius: 5%;
}

.page-footer{
    background-color: rgb(255, 255, 255);
}

.page-footer a{
    color: black;
}

.query-link,
.add-link,
.profile-link{
    color: white; /* Metin rengini istediğiniz renkle değiştirin */
    text-decoration: none;
}

.profile-container{
    width: 33%;
    margin-left:33% ;
    
}

.home-images{
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-image{
    border-radius: 50%;
}

.giris-button{
    margin-right: 5px;
}